<style>
.fixed-box{
padding:1%;
margin:18px;
box-shadow:0px 0px 5px #727272;
background-color:#DED7B5; //#A7957A;
//width:30%;
width:93%;
float:left;
}
.media-left, .media-right, .media-body{
display:inherit;
}
.first-box{
background-color:#A7957A;
}
.media-right, .media > .pull-right {
    padding-left: 0px;
}
.underline {
    border-bottom: 3px solid #A7957A; 
  font-size:14px;
  font-weight:bold;
  height: 65px;
}
.endorsement{
color:#756348; 
}
/*.container {
    width: 1334px;
}*/
.highlight-block {
    background-color: #E9E0C2;
    margin-bottom: 20px;
    padding: 10px;
    text-align: left;
}
.endorsment-content{
  overflow: hidden;
  height: 90px;
} 
</style>
<div class="fixed-box">
<div class="media">
  <div class="col-md-12 media-left first-box">
    <div class="col-md-6 league-icon"></div>
    <h4 class="col-md-8"><%= link_to voter_guide.name, voter_guide.presenter.show_url, data: {guide_id: voter_guide.to_param}, target: "#{'blank' if voter_guide.external_guide_url.present?}" , :style => "color:black"%></h4>
  </div>
  <div class="col-md-12 media-right voterguide-summary">

    <div class="underline">
    <div><%= voter_guide.presenter.location_text %></div>
    <div>posted by <%= voter_guide.author.name %> / <%= voter_guide.election_date.strftime("%B %e, %Y")%>
      / <%= voter_guide.presenter.supporter_text %></div>
      </div>

    <% if voter_guide.presenter.show_endorsements? %>
    <div class="endorsment-content">
      <p class="endorsement"><%= voter_guide.endorsements.size %> endorsements</p>
      <% voter_guide.endorsements.highlighted.each do |endorsement | %>
        <%= render 'voter_guides/endorsement', endorsement: endorsement %>

      <% end %>
      </div>
      <%= link_to "more", voter_guide.presenter.show_url %>

    <% end %>
  </div>
</div>
</div>


