<h2><%= @voter_guide.name %></h2>
<div><%= @voter_guide.target_city %>, <%= @voter_guide.target_state %></div>
<div>Election: <%= @voter_guide.election_date.strftime('%B %d, %Y') %></div>

<h3>Endorsements</h3>
<div id="endorsement_list" class="panel-group" role="tablist" aria-multiselectable="true">
  <%= simple_form_for @voter_guide do |f| %>
    <%= f.simple_fields_for :endorsements do |endorsement| %>
      <%= render 'endorsements/detail', endorsement: endorsement.object, endorsement_form: endorsement %>
    <% end %>
    <div id="endorsements">
      <div class="endorsements--links">
        <%= link_to_add_association 'add endorsement', f, :endorsements, partial: 'endorsements/form' %>
      </div>
    </div>
    <%= f.button :submit, "Done" %>
  <% end %>
</div>

