<h2>Create your voter guide</h2>

<% if @voter_guide.errors.any? %>
  <div class="alert alert-danger">
    <% @voter_guide.errors.full_messages.each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>
<% end %>

<%= form_for @voter_guide do |f| %>
  <div class="form-group">
    <%= f.label :name, "Guide Title" %>
    <%= f.text_field :name, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :target_city, "Guide City" %>
    <%= f.text_field :target_city, placeholder: "Indianapolis", class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :target_state, "Guide State" %>
    <%= f.select :target_state, VoterGuide::STATES, { include_blank: 'Select State' }, { class: 'form-control'} %>
  </div>
  <div class="form-group">
    <%= f.label :election_date, "Election Date" %>
    <%= f.date_field :election_date, class: 'form-control' %>
  </div>
  <%= f.submit "Ready", class: "btn btn-default" %>
<% end %>
