<div class="highlight-block">
  <h2><%= @voter_guide.name %></h2>
  <div><%= @voter_guide.presenter.location_text %>
    &nbsp;
    <%= link_to new_voter_guide_report_path(@voter_guide), title: "Report this Guide" do %>
      <span class="glyphicon glyphicon-warning-sign text-danger"></span>
      <span class="sr-only">Report this Guide</span>
    <% end %>
  </div>
  <div>Election: <%= @voter_guide.election_date.strftime('%B %d, %Y') %></div>
  <% if can? :edit, @voter_guide %>
    <div><%= link_to "Edit This Guide", edit_voter_guide_path(@voter_guide) %></div>
  <% end %>
  <div><%= @voter_guide.presenter.supporter_text %></div>
  <div class="fb-like" data-href="<%= voter_guide_url(@voter_guide) %>" data-layout="standard" data-action="like" data-size="small" data-show-faces="true" data-share="true"></div>

  <div class="hidden">
    <% if current_user && current_user.supports?(@voter_guide) %>
      <span class="glyphicon glyphicon-heart"></span>
      I support this guide.
    <% else %>
      <%= link_to voter_guide_supporters_path(@voter_guide), method: :post, class: "btn btn-success" do %>
        <span class="glyphicon glyphicon-heart"></span>
        Support this Guide
      <% end %>
    <% end %>
  </div>
  <% if @voter_guide.presenter.show_endorsements? %>
    <h3>Endorsements</h3>
    <%= render 'endorsements/toggle' %>
    <div id="endorsement_list" class="panel-group" role="tablist" aria-multiselectable="true">
      <% @voter_guide.endorsements.each do |endorsement| %>
        <%= render 'endorsements/detail', endorsement: endorsement, endorsement_form: nil %>
      <% end %>
    </div>
  <% else %>
    <p><%= link_to "Go to the Guide", @voter_guide.external_guide_url, target: :blank %></p>
  <% end %>
</div>
<%= content_for :open_graph do %>
  <meta property="og:url"         content="<%= voter_guide_url(@voter_guide) %>" />
  <meta property="og:type"        content="article" />
  <meta property="og:title"       content="<%= @voter_guide.name %>" />
  <meta property="og:description" content="<%= @voter_guide.presenter.share_description %>" />
  <meta property="og:image"       content="<%= image_url('theme/League_Header_01.gif') %>" />
<% end %>
