<div class="panel">
  <div class="panel-heading" role="tab" id="endorsement--heading-<%= endorsement.to_param %>">
    <a class="collapsed" role="button" data-toggle="collapse" href="#collapse-endorsement-<%= endorsement.to_param %>" aria-expanded="false" aria-controls="collapse-endorsement-<%= endorsement.to_param %>">
      <% if endorsement.highlight %>
        <span class="glyphicon glyphicon-star"></span>
      <% end %>
      <%= endorsement.presenter.summary_text %>
    </a>
  </div>
  <div id="collapse-endorsement-<%= endorsement.to_param %>"  class="panel-collapse collapse" role="tabpanel" aria-labelledby="endorsement--heading-<%= endorsement.to_param %>">
    <div class="panel-body">
      <%= simple_format endorsement.explanation %>
    </div>
  </div>
</div>
